---
// 1. Layout Imports
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About me";

const identity = {
	firstName : "Tpose",	
	country : "Brazil",	
	occupation : "Vagabundo",	
	hobbies : ['Programming', 'Reading', 'urmom', 'Drinking Tea']

};

const skills = ['Best at Counter-Strike (sort of)', 'Streamer of the Year 2013', 'Minecraft Redstone Wizard'];

const happy = true;
const finished = false;
const goal = 3;

const skillColor: string = 'crimson';
const fontWeight: string = 'bold'; 
const textCase: string = 'uppercase'; 
---

<BaseLayout pageTitle={pageTitle}>
		<style define:vars={{skillColor, fontWeight, textCase}}>
		.skill {
			color: var(--skillColor);
			font-weight: fontWeight;
			text-transform: var(--textCase);
		}
	</style>

	<p>Here you can learn a bit more about us!</p>

	<ul>
		<li>My name is {identity.firstName}.</li>
		<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
		{identity.hobbies.length >= 2 && 
		<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}.</li>
		}
	</ul>

	<p>My skills are:</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>

	<!-- Conditionally rendering elements -->
	{happy && <p>I am happy, FeelsGoodMan Clap, louder!</p>}
	{finished && <p>I'm finished... sadE</p>}
	{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goals is not in 3 daysMy goals is not in 3 days.</p>}
</BaseLayout>

